body {
    border:none;
    margin:0;
    background-color: white;
    width: 100%;
}



#container{
    padding: 10%;
width: 80%;
display:flex;
justify-content: space-evenly;
}

svg{
    margin: 4px;
}

line {
    /*transition-timing-function: linear;
    transition: all 0.5s;*/
}